---
import Base from "../layout/base.astro";
import Image from "astro/components/Image.astro";
import { Header1, Header2 } from "../components/styles/typo";
import CardExtended from "../components/CardExtended";
---

<Base>
	<div class="flex flex-col items-center gap-8 xl:flex-row xl:gap-56">
		<div>
			<Header1 extraClasses="text-center xl:text-left"
				>Hi, I'm Jonathan Doe 👋</Header1
			>
			<p>
				I'm a design technologist in Atlanta. I like working on the
				front-end of the web. This is my site, Zento where I blog, share
				and write tutorials...
			</p>
		</div>
		<Image
			class="mask mask-squircle"
			src="https://ghost.estudiopatagon.com/zento/content/images/size/w1024h1024/2024/02/about.webp"
			alt="s"
			width={400}
			height={400}
		/>
	</div>
	<Header2 extraClasses="text-center">Recents posts</Header2>
	<div class="flex flex-col gap-10">
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
		<CardExtended />
	</div>
</Base>
../components/CardExtended.jsx