---
import Navbar from "../components/Navbar";
import {client} from "../../tina/__generated__/client";
const categoriesQuery = await client.queries.categoriesConnection();
  const categories = categoriesQuery.data.categoriesConnection.edges.map(element => {
    return {title: element.node.title, slug: element.node.slug, mainMenu: element?.node?.main_menu, icon: element?.node?.icon, iconType: element?.node?.iconType}
  });
---

<html lang="en" data-theme="cupcake">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/hljs/style.css">

		<title>Astro</title>
	</head>
	<body class="xl:max-w-screen-xl mx-auto mb-24 px-4">
		<Navbar categories={categories} />
		<div class="xl:mt-20">
			<slot />
		</div>
		
	</body>
</html>
<style is:global >
	html {
		font-family: "DM Sans", sans-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Urbanist", sans-serif;
	}
	.hljs {
		background: none;
	}
	li > div {
		display: inline;
	}


</style>
<script src="/boxicons/boxicons.js" is:inline></script>